/reports
/.vs/contoso-pdf-demo/config
/.vs/contoso-pdf-demo/CopilotIndices/0.2.1648.49400
/.vs/contoso-pdf-demo
/Constoso.Orchestration/bin/Debug/net8.0
/Constoso.Orchestration/obj
/Contoso.Data/bin/Debug/net8.0
/Contoso.Data/obj
/Contoso.Domain/bin/Debug/net8.0
/Contoso.Domain/obj
/Contoso.Pdf/bin/Debug/net8.0
/Contoso.Pdf/obj
/Contoso.Tracking/bin/Debug/net8.0
/Contoso.Tracking/obj
/Contoso.WebApi/bin/Debug/net8.0
/Contoso.WebApi/obj
/Contoso.WebApi/wwwroot/reports
/.vs/ProjectEvaluation
